@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap&subset=cyrillic');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    background-color: #ffd8ec;
}
.app-wrapper {
    display:flex;
}
li {
    list-style-type: none;
}
.nav-list {
    padding: 15px 50px;
    background-color: #ef0949;
    background-image: url('../../img/background.png');
    background-repeat: repeat;
    animation: polygonss 10s linear infinite;
    background-position: -100vw top;
    transition: all .5s;
    box-shadow: 0 0 50px #ff7a9f;
    width: 1200px;
    height: 1200px;
    transform: rotate(30deg);
    position: fixed;
    top: -420px;
    left: -1450px;
    z-index: 100;
}
.nav-list li {
    font-size: 150%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding: 7px 0;
    position: relative;
}
.nav-list div {
    transform: rotate(-30deg);
    position: absolute;
    z-index:1000;
    left: 1150px;
    top: 150px;
}
.nav-list:hover {
    left: -1000px;
}

.app-wrapper:nth-child(2) {
    padding-left: 100px;
}

.nav-list li:nth-of-type(1){
    left: 100px;
}
.nav-list li:nth-of-type(2){
    left: 70px;
}
.nav-list li:nth-of-type(3){
    left: -10px;
}
.nav-list li:nth-of-type(4){
    left: -25px;
}
@keyframes polygonss {
    0% {
        background-position: center top;
    }
    100% {
        background-position: -100vw top;
    }
}