.tools{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.block{
    width: 30%;
    height: 150px;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 9%;
    padding-top: 0%;
}
.block2{
    width: 30%;
    height: 150px;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 9%;
    margin-bottom: 0px;
    padding-top: 1.5%;
    padding-bottom: 0px;
}

.logotype {
    width: 250px;
    margin-left: 28%;
}

.header_text {
    margin: 0px;
}
h1 {
    margin-top: 0%;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
}
.table1 {
    width: 70%;
}
.table2 {
    width: 90%;
}
th, td {
    border: 1px solid black;
}
.table1 td:nth-child(2n+1){
    width: 30%;
}
.table1 tr:last-child td:last-of-type {
    width: 35%;
}
.small_list {
    font-size: 80%;
}
.list-wrapper {
    margin: 0 auto;
}
.table2 {
    text-align: center;
}
.table2 tr:first-of-type, .table2 td:first-child {
    font-weight: bold;
}
td {
    padding: 2px 5px;
}
.table2 td:nth-child(2) {
    text-align: left;
}
.table2 tr:first-child td:nth-of-type(2) {
    text-align: center;
}
.roflan {
    text-align: right;
}
.roflanwrapper {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.roflanwrapper div {
    padding: 50px 20px;
    font-weight: bold;
}
.roflan-border {
    border-bottom: 3px dashed black;
    margin-bottom: 50px;
}
.WarrantyCard {
margin: 0 auto;
    background-color: white;
    padding: 0 30px;
    box-shadow: 0 0 20px white;
}
.small_list li {
    list-style-type: disc;
}