.zakazi {
    margin: 0 auto;
    width: 70vw;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #96002a;
    background-color: #ffccda;
    box-shadow: 0 0 10px #ffbfd0;
}
.table-component {
    width: calc(100vw - 100px);
}
.data-button {
    position: relative;
    right: -250px;
    top: 50px;
}
.zakazi tr:first-of-type {
    font-weight: bold;
}